<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="telephone=no" name="format-detection" />
<title>GreenTown</title>
<link href="css/iconfont/iconfont.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">
<link rel="shortcut icon" href="images/logoicon.png">
</head>
<body class="index_bg_05" onResize="autoView()">
<div class="wrapper">
  <div class="topBanner">
    <div class="widthControl">
    </div>
  </div>
  <!-- /.topBanner -->
  <div class="top">
    <div class="widthControl">
      <a href="#" class="logo"></a>
      <ul class="topNav">
        <li>
          <a href="#" class="hover">首页</a>
        </li>
        <li>
          <a href="#">公共门户</a>
        </li>
        <li>
          <a href="#">流程中心</a> 
        </li>
      </ul>
      <a href="javascript:topBannerSlide()" class="topBannerSlide"><i class="iconfont icon-unfold"></i>展开</a>
      <div class="topLinks">
        <div class="topSearch"><input type="text" placeholder="请输入关键字"><i class="iconfont icon-search"></i></div>|<a href="#"><i class="iconfont icon-addresslist"></i>通讯录</a>|<a href="#">绿城中国<i class="iconfont icon-open"></i></a>|<a href="#"><i class="iconfont icon-info"></i>消息(<b>10</b>)<sup>*</sup></a>|<a href="#">李江华<i class="iconfont icon-open"></i></a>
      </div>
    </div>
  </div>
  <!-- /.top -->
  <div class="container"> 
    <div class="widthControl">
      <div class="indexCont">
       <div class="indexTitle">我的日程</div>
       <div class="indexCalendar-outer">
         <div class="indexCalendar clearfix">
           <div class="cal-left">
             <div class="calendarOuter">
               <div class="cal">
                   <script type="text/template" id="template">
					 <div class="clndr-controls">
						  <div class="month"><%= month %></div>
						  <div class="clndr-previous-button">&lsaquo;</div>
						  <div class="clndr-next-button">&rsaquo;</div>
					  </div>
					  <div class="clndr-grid">
						  <div class="days-of-the-week">
						  <% _.each(daysOfTheWeek, function (day) { %>
							  <div class="header-day"><%= day %></div>
						  <% }); %>
							  <div class="days">
							  <% _.each(days, function (day) { %>
								  <div class="<%= day.classes %>"><%= day.day %></div>
							  <% }); %>
							  </div>
						  </div>
					  </div>
				  </script>
               </div>
             </div>
           </div>
           <div class="cal-right">3</div>
         </div>
       </div>
       <div class="btnGroup"><a href="#" class="indexBtn radius">查看更多</a></div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <div class="indexNav">
    <div class="widthControl">
      <a href="#"><span><i class="iconfont icon-navigation"></i></span>绿城头条</a>
      <a href="#"><span><i class="iconfont icon-navigation"></i></span>我的邮件（<b>10</b>）</a>
      <a href="#"><span><i class="iconfont icon-navigation"></i></span>我的流程</a>
      <a href="#" class="hover"><span><i class="iconfont icon-navigation"></i></span>我的日程</a>
      <a href="#"><span><i class="iconfont icon-navigation"></i></span>业务入口</a>
      <a href="#"><span><i class="iconfont icon-navigation"></i></span>知识中心</a>
    </div>
  </div>
  <!-- /.indexNav -->
  <div class="footer">
    <div class="widthControl">© 绿城中国控股有限公司 浙ICP备05064294号-1 <div class="fr"><a href="#">绿城集团官网</a>|<a href="#">意见反馈</a>|<a href="#">智能客服</a><a href="#"><i class="iconfont qrCode"></i>绿城集团微信</a></div></div>
  </div>
  <!-- /.footer -->
</div>
<!-- /.wrapper -->
<script src="js/jquery.min.js"></script>
<!--clndr 日历控件相关依赖-->
<script src="js/underscore-min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/clndr.min.js"></script>
<!--clndr 日历控件 end-->
<script src="js/common.js"></script>
<script>
$('.cal').clndr({
	template: $('#template').html(),
	weekOffset: 1,
	daysOfTheWeek: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
	});
</script>
</body> 
</html>
  